# Output variable -> y y -> Whether the client has subscribed a term deposit or not Binomial ("yes" or "no")

In [1]:
import pandas as pd

In [2]:
bank = pd.read_csv("bank-full.csv",sep = ";")

In [3]:
bank

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

In [4]:
#As there are some columns having string data in it, we have to drop it before proceeding furthur

In [5]:
bank.job.value_counts()

blue-collar      9732
management       9458
technician       7597
admin.           5171
services         4154
retired          2264
self-employed    1579
entrepreneur     1487
unemployed       1303
housemaid        1240
student           938
unknown           288
Name: job, dtype: int64

In [6]:
#we have to convert job string data into some value to plot the relationship

In [7]:
bank.job.replace(('blue-collar','management','technician','admin.','services','retired','self-employed','entrepreneur','unemployed','housemaid','student','unknown'),(1,2,3,4,5,6,7,8,9,10,11,12),inplace=True)

In [8]:
bank.job.value_counts()

1     9732
2     9458
3     7597
4     5171
5     4154
6     2264
7     1579
8     1487
9     1303
10    1240
11     938
12     288
Name: job, dtype: int64

In [9]:
#we have to convert marital string data into some value to plot the relationship

In [10]:
bank.marital.value_counts()

married     27214
single      12790
divorced     5207
Name: marital, dtype: int64

In [11]:
bank.marital.replace(('married','single','divorced'),(0,1,2),inplace=True)

In [12]:
bank.marital.value_counts()

0    27214
1    12790
2     5207
Name: marital, dtype: int64

In [13]:
#we have to convert education string data into some value to plot the relationship

In [14]:
bank.education.value_counts()

secondary    23202
tertiary     13301
primary       6851
unknown       1857
Name: education, dtype: int64

In [15]:
bank.education.replace(('secondary','tertiary','primary','unknown'),(0,1,2,3),inplace=True)

In [16]:
bank.education.value_counts()

0    23202
1    13301
2     6851
3     1857
Name: education, dtype: int64

In [17]:
#we have to convert default string data into some value to plot the relationship

In [18]:
bank.default.value_counts()

no     44396
yes      815
Name: default, dtype: int64

In [19]:
bank.default.replace(('yes','no'),(1,0),inplace=True)

In [20]:
bank.default.value_counts()

0    44396
1      815
Name: default, dtype: int64

In [21]:
#we have to convert housing string data into some value to plot the relationship

In [22]:
bank.housing.value_counts()

yes    25130
no     20081
Name: housing, dtype: int64

In [23]:
bank.housing.replace(('yes','no'),(1,0),inplace=True)

In [24]:
bank.housing.value_counts()

1    25130
0    20081
Name: housing, dtype: int64

In [25]:
#we have to convert loan string data into some value to plot the relationship

In [26]:
bank.loan.value_counts()

no     37967
yes     7244
Name: loan, dtype: int64

In [27]:
bank.loan.replace(('yes','no'),(1,0),inplace=True)

In [28]:
bank.loan.value_counts()

0    37967
1     7244
Name: loan, dtype: int64

In [29]:
#we have to convert contact string data into some value to plot the relationship

In [30]:
bank.contact.value_counts()

cellular     29285
unknown      13020
telephone     2906
Name: contact, dtype: int64

In [31]:
bank.contact.replace(('cellular','telephone','unknown'),(2,1,0),inplace=True)

In [32]:
bank.contact.value_counts()

2    29285
0    13020
1     2906
Name: contact, dtype: int64

In [33]:
#we have to convert month string data into some value to plot the relationship

In [34]:
bank.month.value_counts()

may    13766
jul     6895
aug     6247
jun     5341
nov     3970
apr     2932
feb     2649
jan     1403
oct      738
sep      579
mar      477
dec      214
Name: month, dtype: int64

In [35]:
bank.month.replace(('jan','feb','mar','apr','may','jun','jul','aug','sep','oct','nov','dec'),(1,2,3,4,5,6,7,8,9,10,11,12),inplace=True)

In [36]:
bank.month.value_counts()

5     13766
7      6895
8      6247
6      5341
11     3970
4      2932
2      2649
1      1403
10      738
9       579
3       477
12      214
Name: month, dtype: int64

In [37]:
#we have to convert pcampaign string data into some value to plot the relationship

In [38]:
bank.poutcome.value_counts()

unknown    36959
failure     4901
other       1840
success     1511
Name: poutcome, dtype: int64

In [39]:
bank.poutcome.replace(('unknown','other','failure','success'),(0,1,2,3),inplace=True)

In [40]:
bank.poutcome.value_counts()

0    36959
2     4901
1     1840
3     1511
Name: poutcome, dtype: int64

In [41]:
#we have to convert y string data into some value to plot the relationship

In [42]:
bank.y.value_counts()

no     39922
yes     5289
Name: y, dtype: int64

In [43]:
bank.y.replace(('yes','no'),(1,0),inplace=True)

In [44]:
bank.y.value_counts()

0    39922
1     5289
Name: y, dtype: int64

In [45]:
bank.dtypes

age          int64
job          int64
marital      int64
education    int64
default      int64
balance      int64
housing      int64
loan         int64
contact      int64
day          int64
month        int64
duration     int64
campaign     int64
pdays        int64
previous     int64
poutcome     int64
y            int64
dtype: object

In [46]:
bank

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,2,0,1,0,2143,1,0,0,5,5,261,1,-1,0,0,0
1,44,3,1,0,0,29,1,0,0,5,5,151,1,-1,0,0,0
2,33,8,0,0,0,2,1,1,0,5,5,76,1,-1,0,0,0
3,47,1,0,3,0,1506,1,0,0,5,5,92,1,-1,0,0,0
4,33,12,1,3,0,1,0,0,0,5,5,198,1,-1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,3,0,1,0,825,0,0,2,17,11,977,3,-1,0,0,1
45207,71,6,2,2,0,1729,0,0,2,17,11,456,2,-1,0,0,1
45208,72,6,0,0,0,5715,0,0,2,17,11,1127,5,184,3,3,1
45209,57,1,0,0,0,668,0,0,1,17,11,508,4,-1,0,0,0
45210,37,8,0,0,0,2971,0,0,2,17,11,361,2,188,11,1,0

In [94]:
bank.isna().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [47]:
from sklearn.linear_model import LogisticRegression

In [79]:
X= bank.iloc[:,0:16]

In [80]:
X

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,58,2,0,1,0,2143,1,0,0,5,5,261,1,-1,0,0
1,44,3,1,0,0,29,1,0,0,5,5,151,1,-1,0,0
2,33,8,0,0,0,2,1,1,0,5,5,76,1,-1,0,0
3,47,1,0,3,0,1506,1,0,0,5,5,92,1,-1,0,0
4,33,12,1,3,0,1,0,0,0,5,5,198,1,-1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,3,0,1,0,825,0,0,2,17,11,977,3,-1,0,0
45207,71,6,2,2,0,1729,0,0,2,17,11,456,2,-1,0,0
45208,72,6,0,0,0,5715,0,0,2,17,11,1127,5,184,3,3
45209,57,1,0,0,0,668,0,0,1,17,11,508,4,-1,0,0
45210,37,8,0,0,0,2971,0,0,2,17,11,361,2,188,11,1

In [90]:
Y=bank.iloc[:,16]

In [91]:
Y

0        0
1        0
2        0
3        0
4        0
        ..
45206    1
45207    1
45208    1
45209    0
45210    0
Name: y, Length: 45211, dtype: int64

In [96]:
banklr = LogisticRegression()
banklrmodel =banklr.fit(X,Y)

C:\Users\Ajinkya Deshmukh\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [102]:
#Predict Whether the client has subscribed the term variable or not
y_pred = banklrmodel.predict(X)

In [103]:
y_pred_df = pd.DataFrame({'actual':Y,'Predicted':y_pred})

In [104]:
y_pred_df

       actual  Predicted
0           0          0
1           0          0
2           0          0
3           0          0
4           0          0
...       ...        ...
45206       1          0
45207       1          0
45208       1          0
45209       0          0
45210       0          1

[45211 rows x 2 columns]

In [107]:
#Check the accuracy, precision and recall values
from sklearn.metrics import classification_report
print(classification_report(Y,y_pred))

              precision    recall  f1-score   support

           0       0.90      0.98      0.94     39922
           1       0.57      0.21      0.31      5289

    accuracy                           0.89     45211
   macro avg       0.74      0.59      0.62     45211
weighted avg       0.86      0.89      0.87     45211

In [109]:
# As accuracy,precision and recall values are good, we can say that this is good model. Probability of not subsribing are more